.positioner {
    height: 56px;
    width: 100vw;
    background-color: transparent;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 992px) {
        background-color: #121212;
    }
}

.menu-tab {
    height: 56px;
    width: auto;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    color: #191F28;

    @media (max-width: 992px) {
        color: #fafafa;
    }
}