//Extra Small Devices
@media (max-width: 576px) {
    
}

//Small Devices
@media (min-width: 576px) and (max-width: 768px) { 

}

//Medium Devices
@media (min-width: 768px) and (max-width: 992px) {
    .icon{
        margin-right: auto;
        margin-bottom: 12px;
        margin-top: 24px;
    }

  .feature-box-container{
      padding-right: 88px;
      padding-left: 88px;
  }
  
  .feature-box{
      width: 21%;
      height: 150px;
      display: flex;
      flex-direction: column;
  }

  .hide-sth{
      display: none;
  }

  .stack-img{
      width: 320px;
      height: 250px;
  }
}

//Large Devices
@media (min-width: 992px) and (max-width: 1200px) {
    .icon{
        margin-right: auto;
        margin-bottom: 12px;
        margin-top: 24px;
    }
  
  
  .feature-box-container{
      padding-right: 208px;
      padding-left: 208px;
  }

  .feature-box{
      width: 21%;
      height: 150px;
      display: flex;
      flex-direction: column;
  }

  .hide-sth{
      display: none;
  }

  .stack-img{
      width: 400px;
      height: 320px;
  }
}

//Extra Large Devices
@media (min-width: 1200px) {
    .icon{
        margin-right: auto;
        margin-bottom: 12px;
        margin-top: 24px;
    }

  .feature-box-container{
      padding-right: 208px;
      padding-left: 208px;
  }
  
  .feature-box{
      width: 22%;
      height: 176px;
      display: flex;
      flex-direction: column;
  }

  .stack-img{
      width: 550px;
      height: 450px;
  }
}