//Extra Small Devices
@media (max-width: 576px) {
    .search-con{
        padding-bottom: 96px;
    }
    
    .title-box{
        padding-left: 28px;
        margin-top: 48px;
        margin-bottom: 48px;
        width: 80%;
        height: 64px;
        padding-top: 16px;
        background-color: #11100B;
    }

    .card-con{
        margin-left: 28px;
        margin-right: 28px;
        gap: 32px 32px;
    }
}

//Small Devices
@media (min-width: 576px) and (max-width: 768px) { 
    .search-con{
        padding-bottom: 96px;
    }
    
    .title-box{
        padding-left: 28px;
        margin-top: 80px;
        margin-bottom: 48px;
        width: 80%;
        height: 64px;
        padding-top: 12px;
        background-color: #11100B;
    }

    .card-con{
        margin-left: 28px;
        margin-right: 28px;
        gap: 32px 32px;
    }
}

//Medium Devices
@media (min-width: 768px) and (max-width: 992px) {
    .search-con{
        padding-bottom: 96px;
    }
    
    .title-box{
        padding-left: 28px;
        margin-top: 80px;
        margin-bottom: 48px;
        width: 80%;
        height: 72px;
        padding-top: 14px;
        background-color: #11100B;
    }

    .card-con{
        margin-left: 28px;
        margin-right: 28px;
        gap: 64px 32px;
    }
}

//Large Devices
@media (min-width: 992px) and (max-width: 1200px) {
    .search-con{
        padding-bottom: 96px;
    }
    
    .title-box{
        padding-left: 208px;
        margin-top: 80px;
        margin-bottom: 48px;
        width: 80%;
        height: 84px;
        padding-top: 16px;
        background-color: #11100B;
    }

    .card-con{
        margin-left: 208px;
        margin-right: 208px;
        gap: 64px 32px;
    }
}

//Extra Large Devices
@media (min-width: 1200px) {
    .search-con{
        padding-bottom: 96px;
        width: 66%;
    }
    
    .title-box{
        padding-left: 208px;
        margin-top: 80px;
        margin-bottom: 48px;
        width: 66%;
        height: 84px;
        padding-top: 16px;
        background-color: #11100B;
    }

    .card-con{
        margin-left: 208px;
        margin-right: 208px;
        gap: 64px 32px;
    }
}